<div class="card mb-4">
  <div class="card-body">
    <div class="d-flex mb-3 justify-content-between align-items-center">
      <span class="badge badge-primary">{{ content.field_resource_tags }}</span>
      <div class="badge badge-success">{{ content.field_template_status }}</div>
    </div>
    <h5{{ title_attributes.addClass('node__title title') }}>
      <span><a href="{{ url }}" rel="bookmark">{{ label }}</a></span>
    </h5>
    {{ content.body }}
    <div class="d-flex justify-content-between align-items-center">
      {{ date }}
      {% if content.field_document[0] %}
        <div class="read-more">
          <a href="{{ content.field_document[0]['#markup'] }}" class="btn btn-teal">Download Template</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
