{%
  set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'clearfix',
]
%}
<div class="card mb-4">
  <img class="card-img-top" src={{ content.field_image[0]['#markup'] }} />
  <div class="card-body">
    <div class="d-flex mb-3 justify-content-between align-items-center">
      <span class="badge badge-primary">{{ content.field_resource_tags }}</span>
      <div>{{ content.field_impact }}</div>
    </div>
    <h5{{ title_attributes.addClass('node__title title') }}>
      <span><a href="{{ url }}" rel="bookmark">{{ label }}</a></span>
    </h5>
    {{ content.body }}
    <a href="{{ content.field_document[0]['#markup'] }}" class="btn btn-block btn-teal">Download Guide</a>
  </div>
</div>
