<div class="card mb-4">
  <div class="card-body">
    <div class="d-flex mb-3 justify-content-between align-items-center">
      <span class="badge badge-primary">{{ content.field_resource_tags }}</span>
      <div>{{ content.field_impact }}</div>
    </div>
    <h5{{ title_attributes.addClass('node__title title') }}>
      <span><a href="{{ url }}" rel="bookmark">{{ label }}</a></span>
    </h5>
    {{ content.body }}
    <div class="d-flex justify-content-between align-items-center">
      {{ date }}
      <div class="read-more">
        <a href="{{ url }}" class="btn btn-teal">Read Full Analysis</a>
      </div>
    </div>
  </div>
</div>
